<h1 class="title">Distancia entre cidades</h1>

<div class="field">
  <label class="label">Metros</label>
  <p class="control">
    <%= text_field_tag :metros, @distance[:metros], class: 'input', :readonly => true %>
  </p>
</div>

<div class="field">
  <label class="label">Quilometros</label>
  <p class="control">
    <%= text_field_tag :quilometros, @distance[:quilometros], class: 'input', :readonly => true %>
  </p>
</div>

<div class="field">
  <label class="label">Milhas</label>
  <p class="control">
    <%= text_field_tag :milhas, @distance[:milhas], class: 'input', :readonly => true %>
  </p>
</div>
<%= link_to "Voltar", root_path, class: 'button is-info' %>